/* CASCADING STYLESHEET */

/* GLOBAL */

* {
    /* corrigindo comportamento padrão do css */
    box-sizing: border-box;
}

html, body {
    margin: 5;
}

body {
    display: flex;
    flex-direction: column;

    height: 100vh;

    /* fonte */
    font-family: 'Roboto', sans-serif;

    background-color: #f9f9f9;
}

h1, h2 {
    color: #000000cc;
}

/* TÌTULOS */
header h1, main h2 {
    margin-bottom: 50px;
}

main h2 span {
    color: #ff4f4f;
}

.form h2 {
    text-align: right;
    color: #ffffffee;
    font-size: 20px;
}

/* ESTRUTURA */
header, main, footer {
    /* alinhamentos de textos */
    text-align: center;
}

header, section.form, main {
    /* espaçamentos com margens*/
    margin: 0 auto 70px auto;

    /* limites dos elementos na página */
    width: 90%;
    max-width: 500px;
}

/* HEADER */
header button {
    margin-top: 16px;
    padding: 8px 16px;
    border-radius: 4px;
    border: none;
    
    background-color: #ff4f4f;
    color: white;

    font-weight: bold;
}

.logo {
    width: 120px;
    margin: 40px 0px 70px 0px;
}

header p {
    font-size: 14px;
}

/* FORM */
section.form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 45px;
    align-items: center;

    background-color: #ff4f4f;

    padding: 16px 64px;

    border-radius: 6px;
}

form input, form button {

    /* largura */
    width: 100%;

    /* espaçamentos */
    margin-bottom: 4px;

    /* preenchimento */
    padding: 8px 16px;

    /* bordas */
    border-radius: 4px;
    border: 1px #ffffff88 solid;
}

form input {
    background-color: transparent; 
}

form input::placeholder {
    color: #ffffffaa;
}

form button {
    font-weight: bold;
    background-color: #ffffff;
}

/* MAIN */
main .donors {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-left: 20px;
    padding-right: 20px;
}

.blood {
    color: #ff4f4f;
    font-weight: bold;
    font-size: 14px;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.blood::before {
    content: "";
    background-color: #ff4f4f11;

    width: 45px;
    height: 45px;

    position: absolute;

    /* fazendo a gotinha */
    border-radius: 50%;
    border-top-right-radius: 0;

    transform: rotate(-45deg);
}

.donor p {
    margin-top: 24px;
    margin-bottom: 70px;
}


/* RODAPÉ */
footer {
    margin-top: auto;
    padding: 16px;

    border: 1px #eee solid;
}

/* FUNCIONALIDADES COM JAVASCRIPT */

section.form {
    transition: all 300ms;
}

section.form.hide {
    opacity: 0;
    visibility: hidden;
    height: 0;
    margin-top: -70px;
}



